<!-- This will be index of list objects-->
<!DOCTYPE html>
<html>
    <% include ../static/partials/head.ejs %>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
                <li class="breadcrumb-item active" aria-current="page">Group - <%=group.name %></li>
            </ol>
        </nav>
        <% include ../static/partials/messages.ejs %>
        <header class="jumbotron">
            <h1 class="display-2"><%= group.name %> (group/show)</h1>
        </header>
        <a href="/groups/<%= group.id %>/edit_form"><button class="btn btn-warning">Edit Group</button></a>
        <!--Display lists here-->
        <% lists.forEach((list) => { %>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= list.name %></h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        <% }) %>
        <a href="/groups/<%= group.id %>/lists/new"><button class="btn btn-success">Create List</button></a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>