<!-- This will be index of list objects-->
<!DOCTYPE html>
<html>
    <% include ../static/partials/head.ejs %>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/user/<%= currentUser.id %>/profile">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%=group.name %></li>
            </ol>
        </nav>
        <% include ../static/partials/messages.ejs %>
        <header class="jumbotron pb-4">
            <h1 class="display-4 mb-5"><%= group.name %></h1>
            <a href="/groups/<%= group.id %>/members/new"><button class="btn btn-success">Add Member</button></a>
            <a href="/groups/<%= group.id %>/edit_form"><button class="btn btn-warning">Edit Group</button></a>
        </header>
        
        <!-- accordion switching between group lists and group messages-->
        <div id="accordion">
            <div class="card">
              <div class="card-header bg-info text-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                <h4 class="mb-0 font-weight-light text-center">
                    Toggle Messages
                </h4>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-secondary">
                    <!-- Display Messages-->
                    <ul class="list-group col-lg-9 mx-auto mb-3">
                        <% messages.forEach((message) => { 
                            if(currentUser.id == message.userId) { %>
                                <li class="col-lg-9 col-sm-11 list-group-item text-light text-right bg-success mt-1 ml-auto" id="yourMessage">
                            <% } else {%>
                                <li class="col-lg-9 col-sm-11 list-group-item text-light text-left bg-primary mt-1 mr-auto" id="otherMessage">
                            <% } %>
                                    <strong> <%= message.username %> - </strong> <%= message.text %>
                                </li>
                            <!-- <div class="row col-lg-8 my-2">
                                <div class="bg-success ml-auto p-3 w-60">
                                    <strong> <%= message.username %> - </strong>
                                    <%= message.text %>
                                </div>
                            </div> -->
                        <% }) %> 
                    </ul>
                  <!-- Create new Message -->
                    <form method="POST" class="col-lg-6 bg-light shadow-lg rounded mx-auto" action="/groups/<%= group.id %>/messages/create">
                        <label for="text" class="font-weight-normal mt-2 text-dark">Create Message</label>
                        <textarea class="form-control" id="text" name="text"></textarea>
                        <button type="submit" class="btn btn-success mx-auto my-1">Send</button>
                    </form>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header bg-info text-light collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"" id="headingTwo">
                <h4 class="mb-0 font-weight-light text-center">
                    Toggle Shopping Lists
                </h4>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <% lists.forEach((list) => { %>
                        <a href="/groups/<%= group.id %>/lists/<%= list.id %>/show">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mx-auto">
                                <div class="card bg-info">
                                        <h5 class="card-title text-light text-center display-4"><%= list.name %></h5>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                <a class="" href="/groups/<%= group.id %>/<%= group.name %>/lists/new"><button class="btn btn-success ml-auto">Create List</button></a>
                </div>
              </div>
            </div>
        </div>
        
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>