<!-- this will be an index for item objects -->

<!DOCTYPE html>
<html>
    <% include ../static/partials/head.ejs %>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/groups">My Groups</a></li>
                <li class="breadcrumb-item"><a href="/groups/<%= list.groupId %>/show">Group - <%= list.groupName %></a></li>
                <li class="breadcrumb-item active" aria-current="page">List - <%= list.name %></li>
            </ol>
        </nav>
        <header class="jumbotron py-5">
                <h1 class="display-4 text-center">List - <%= list.name %></h1>
                <h4 class="font-weight-light">Description: <%= list.description %></h4>
        </header>
        <h3>items</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Purchased</th>
                    <th scope="col">Added By</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
        <% items.forEach((item) => { %>
            <tr>
                <td scope="row"><%= item.name %></td>
                <td><%= item.purchased %></td>
                <td><%= item.username %></td>
                <td><%= item.price %></td>
                <td><form method="POST" action="/groups/<%= list.groupId %>/lists/<%= list.id %>/items/<%= item.id %>/delete"><button type="submit" class="btn btn-danger">Delete</button></form></td>
            </tr>
        <% }) %>
            </tbody>
        </table>
        <!-- create shopping item -->
        <form method="POST" class="col-lg-7 mt-5 mx-auto mb-3" action="/groups/<%= list.groupId %>/lists/<%= list.id %>/items/create">
            <h3>Add Shopping Item</h3>
            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="itemName">Item Name</label>
                    <input type="text" class="form-control" id="itemName" name="itemName">
                </div>
                <div class="form-group col-lg-4">
                    <label for="itemPrice">Item Price <span class="text-muted ml-1 h6"><small>Optional</small></span></label>
                    <input type="text" class="form-control" id="itemPrice" name="itemPrice">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>