<!-- this will be an index for item objects -->

<!DOCTYPE html>
<html>
    <% include ../static/partials/head.ejs %>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/groups">My Groups</a></li>
                <li class="breadcrumb-item"><a href="/groups/<%= groupId %>/show">Group Id - <%= groupId %></a></li>
                <li class="breadcrumb-item active" aria-current="page">List - <%= list.name %></li>
            </ol>
        </nav>
        <h1 class="display-3"><%= list.name %> (list/show)</h1>
        <h4>Description:   <%= list.description %></h4>
        <h3>items</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Purchased</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
        <% items.forEach((item) => { %>
            <tr>
                <td scope="row"><%= item.name %></td>
                <td><%= item.purchased %></td>
                <td><%= item.userId %></td>
                <td><%= item.price %></td>
                <td><form method="POST" action="/groups/<%= groupId %>/lists/<%= list.id %>/items/<%= item.id %>/delete"><button type="submit" class="btn btn-danger">Delete</button></form></td>
            </tr>
        <% }) %>
            </tbody>
        </table>
        <form method="POST" class="col-lg-7 mx-auto mb-3" action="/groups/<%= groupId %>/lists/<%= list.id %>/items/create">
            <h3>Add Shopping Item</h3>
            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="itemName">Item Name</label>
                    <input type="text" class="form-control" id="itemName" name="itemName">
                </div>
                <div class="form-group col-lg-4">
                    <label for="itemPrice">Item Price</label>
                    <input type="text" class="form-control" id="itemPrice" name="itemPrice">
                </div>
            </div>
            <div class="form-group row">
                <label for="itemNote" class="col">Note</label>
                <input type="text" class="form-control col-10" id="itemNote" name="itemNote">
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
        <div id="accordion" class="mb-3">
            <div class="card">
              <div class="card-header bg-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                <h5 class="mb-0 text-light">
                    Shopping Items
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <!-- Show lists here.  User bootstrap row/column format-->
                    
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
        </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>