<!-- Here will be the User profile.  They will be able to:
see their groups
edit their information
turn off notifications
delete their profile
-->
<!DOCTYPE html>
<html>
    <% include ../static/partials/head.ejs %>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <header class="jumbotron pt-4 pb-3">
            <h1 class="display-4 ml-3 mb-2">Your Profile</h1>
            <hr>
            <div class="row justify-content-start align-items-end">
                <h5 class="ml-1">User Name:</h5>
                <h5 class="col mr-auto text-left font-weight-light"><%= currentUser.username %></h5>
            </div>
            <div class="row justify-content-start align-items-end">
                <h5 class="ml-1">Email:</h5>
                <h5 class="col mr-auto text-left font-weight-light"><%= currentUser.email %></h5>
            </div>
            <div class="row justify-content-start align-items-end">
                <h5 class="ml-1">Number:</h5>
                <h5 class="col mr-auto text-left font-weight-light"><%= currentUser.phoneNumber %></h5>
            </div>
            <div class="row justify-content-start align-items-end">
                <h5 class="ml-1">Notifications:</h5>
                <h5 class="col mr-auto text-left font-weight-light"><% if(currentUser.notifications == true){%> On <%}else{%> Off <%}%></h5>
            </div>
            <div class="row justify-content-start align-items-end">
                <h5 class="ml-1">Joined:</h5>
                <h5 class="col mr-auto text-left font-weight-light"><%= currentUser.createdAt %></h5>
            </div>
            <div class="row ml-auto pl-auto mt-3 justify-content-end ">
                <a href="/user/<%= currentUser.id %>/edit"><button class="btn btn-warning">Edit</button></a>
                <form action="/user/<%= currentUser.id %>/delete" class="ml-3 mr-4" method="POST">
                    <button class="btn btn-danger">Delete Profile</button>
                </form>
            </div>
            
        </header>
        <h4>My Groups</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Members</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            <% members.forEach((member) => { %>
                <tr>
                    <td scope="row"><%= member.Group.name %></td>
                    <td>not built yet</td>
                    <td><a href="/groups/<%= member.Group.id %>/show"><button class="btn btn-info">View</button></a></td>
                    <td>
                        <form action="/groups/<%= member.Group.id %>/leave" method="POST">
                            <button class="btn btn-danger">Leave Group</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <a href="/groups/new" class="mb-3"> <button class="btn btn-success">Create Group</button></a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>